.login-page {
  display: flex;
  height: 100vh;
  animation: fadeIn 2s ease-in-out;
  align-self: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 2rem;
  animation: slideIn 1.5s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.login-left h2 {
  font-size: 2.5rem;
  color: #1e2a78;
  text-align: center;
  margin-bottom: 1rem;
}

.welcome-text {
  position: relative;
  animation: textPop 2s ease-in-out forwards;
}

@keyframes textPop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animated-logo {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.login-left p {
  font-size: 1.2rem;
  color: #1e2a78;
  margin-bottom: 2rem;
  opacity: 0;
  animation: fadeInText 2.5s ease-in forwards;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-left button {
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: #aac9ea;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.login-left button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #9c52eb, #6851e8, #5a93f6, #b47cf8);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}

.logo-image {
  height: 10rem;
  width: 10rem;
  padding-left: 2rem;
  background-size: cover;
}.typing-text {
  font-size: 2.5rem;
  color: #1e2a78;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #1e2a78; /* Cursor effect */
  animation: typing 3s steps(20, end) infinite, blink 0.7s step-end infinite;
  display: inline-block;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 18ch; /* Full width of the text */
  }
  100% {
    width: 0; /* Reset to start */
  }
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #1e2a78;
  }
}
